@tailwind base;
@tailwind components;
@tailwind utilities;

.customShadow {
  -webkit-box-shadow: -24px 26px 37.9px 0px rgba(137, 145, 156, 0.4);
  -moz-box-shadow: -24px 26px 37.9px 0px rgba(137, 145, 156, 0.4);
  box-shadow: -24px 26px 37.9px 0px rgba(137, 145, 156, 0.4);
}
.customShadowDark {
  -webkit-box-shadow: -7px 4px 37.9px 0px rgba(137, 145, 156, 0.4);
  -moz-box-shadow: -7px 4px 37.9px 0px rgba(137, 145, 156, 0.4);
  box-shadow: -7px 4px 37.9px 0px rgba(137, 145, 156, 0.4);
}
